<a href="https://colab.research.google.com/github/fatemeh220/Grading_2251Course/blob/main/Grading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

Student_OWL = pd.read_csv("list_student_OWL.csv")
Student_OWL = Student_OWL.iloc[:,:3]
Student_OWL.head()

  Student ID              Name  # Student Number
0      kagne    Agne, Khennery         251221504
1   malhanaf  Al-Hanafi, Malak         251142157
2    marif27      Arif, Mariam         251239114
3    obhatt3         Bhatt, Om         251256665
4   jcamill5   Camillo, Joshua         251199106

In [25]:
Deadline = '2023-01-27'
Assignment_Repo_URL_End = '/blob/main/Lab2.py'
Student_Github=pd.read_csv("lab2-grades-1675208605.csv")
Assignment_Name =Student_Github['assignment_name'][0]
Student_Github.head()

Student_Github = Student_Github[['roster_identifier','submission_timestamp','points_awarded','student_repository_url']]
Student_Github.columns = ['Student ID', 'Time','Grade','Link']
Student_Github.head()

Student_OWL = Student_OWL.merge(Student_Github, how='left')
Student_OWL.head()

,Student ID,Name,# Student Number,Time,Grade,Link
0,kagne,"Agne, Khennery",251221504,2023-01-26 02:40:58 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-Khennery...
1,malhanaf,"Al-Hanafi, Malak",251142157,2023-01-25 19:39:48 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-malakalh...
2,marif27,"Arif, Mariam",251239114,2023-01-25 17:45:19 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-marif5520
3,obhatt3,"Bhatt, Om",251256665,2023-01-28 04:23:42 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-obhatt3
4,jcamill5,"Camillo, Joshua",251199106,2023-01-24 17:19:34 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-JoshuaCa...

In [26]:
for i in Student_OWL.index:
  if Student_OWL['Grade'][i]==0:
    print('The link is: '+ str(Student_OWL['Link'][i])+ Assignment_Repo_URL_End)
    Student_OWL['Grade'][i] = input('Please enter the updated grade for %s: ' %(Student_OWL['Student ID'][i]))

The link is: https://github.com/ShaimaaAliECE/lab2-BingChi11ing/blob/main/Lab2.py
Please enter the updated grade for bguo48: 10
The link is: https://github.com/ShaimaaAliECE/lab2-MHebbert/blob/main/Lab2.py
Please enter the updated grade for mhebbert: 2.2
The link is: https://github.com/ShaimaaAliECE/lab2-JohnKaniukSchool/blob/main/Lab2.py
Please enter the updated grade for jkaniuk: 0
The link is: https://github.com/ShaimaaAliECE/lab2-MuhammadMunir123/blob/main/Lab2.py
Please enter the updated grade for mmunir22: 10
The link is: https://github.com/ShaimaaAliECE/lab2-msylves6/blob/main/Lab2.py
Please enter the updated grade for msylves6: 0

In [27]:
from datetime import datetime
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

Student_OWL['Delay'] = 0
Student_OWL['Grade_initial'] = Student_OWL['Grade']

for i in range(Student_OWL.shape[0]):
  # if(math.isnan(pd.to_numeric(Student_OWL['Time'][i]))):
  #   i=i+1
  try:
    res = datetime.strptime(Deadline, '%Y-%m-%d') - datetime.strptime(Student_OWL['Time'][i][:10], '%Y-%m-%d')
    number_of_days = res.days
    # res = datetime.strptime(datetime.strptime('2023-01-20', '%Y-%m-%d') - datetime.strptime(Student_OWL['Time'][i][:10], '%Y-%m-%d'))
    # number_of_days = res.days
    if(number_of_days<0):
      Student_OWL.Grade[i]=Student_OWL.Grade[i]*(1+(number_of_days)*0.1)
      Student_OWL['Delay'][i] = -number_of_days

  except:
  #   # i=i+1
    Student_OWL.Grade[i] = 0
 
Student_OWL.head()

,Student ID,Name,# Student Number,Time,Grade,Link,Delay,Grade_initial
0,kagne,"Agne, Khennery",251221504,2023-01-26 02:40:58 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-Khennery...,0,10.0
1,malhanaf,"Al-Hanafi, Malak",251142157,2023-01-25 19:39:48 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-malakalh...,0,10.0
2,marif27,"Arif, Mariam",251239114,2023-01-25 17:45:19 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-marif5520,0,10.0
3,obhatt3,"Bhatt, Om",251256665,2023-01-28 04:23:42 UTC,9.0,https://github.com/ShaimaaAliECE/lab2-obhatt3,1,10.0
4,jcamill5,"Camillo, Joshua",251199106,2023-01-24 17:19:34 UTC,10.0,https://github.com/ShaimaaAliECE/lab2-JoshuaCa...,0,10.0

In [28]:
Student_OWL = Student_OWL[['Student ID', 'Name', 'Grade']]
Student_OWL.rename(columns = {'Grade':Assignment_Name+' [10]'}, inplace = True)
Student_OWL.head()
Student_OWL.to_csv(Assignment_Name+'.csv', index=False)